---
layout: default
title: Home
---

<table id="index_table">
    <td id="index_posts">

<h1>Latest Posts</h1>

<ul>

<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
  <li>
    <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>

    <div class="post-author">
        <small>{{ post.date | date: "%B %d, %Y" }}</small>
    </div>

    <p>{{ post.excerpt }}</p>
  </li>
{% endfor %}

</ul>

{% if paginator.total_pages > 1 %}
    <div class="pagination">
        {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path | relative_url }}">&laquo;</a>
        {% else %}
            <span>&laquo;</span>
        {% endif %}

        {% for page in (1..paginator.total_pages) %}
            {% if page == paginator.page %}
                <em>{{ page }}</em>
            {% elsif page == 1 %}
                <a href="{{ paginator.previous_page_path | relative_url }}">{{ page }}</a>
            {% else %}
                <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
            {% endif %}
        {% endfor %}

        {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path | relative_url }}">&raquo;</a>
        {% else %}
            <span>&raquo;</span>
        {% endif %}
    </div>
{% endif %}

    </td>
    <td id="index_other">
        <h4>Guitarist of the week</h4>

        {% assign sorted_g = site.guitarists | sort:"week" | reverse %}
        {% for guitarist in sorted_g limit:1 %}
            <div><a href="{{ guitarist.url }}">{{ guitarist.name }}</a></div>
            <div><a href="{{ guitarist.url }}"><img src="{{ guitarist.picture }}" class="img-cover" /></a></div>
        {% endfor %}

        <h4>Latest book</h4>

        {% assign sorted_b = site.books | sort:"finished" | reverse %}
        {% for book in sorted_b limit:1 %}
            <div>{{ book.author }}</div>
            <div><a href="{{ book.url }}">{{ book.title }}</a></div>
            <div><a href="{{ book.url }}"><img src="{{ book.cover }}" class="img-cover" /></a></div>
        {% endfor %}
    </td>
</table>
    
